
// Variables
$primary-color: #ff6f61;
$secondary-color: #e94e77;
$button-color: #ffffff;
$background-gradient-start: #ff9a8b;
$background-gradient-end: #ff6f61;
$text-color: #ffffff;
$box-shadow: rgba(0, 0, 0, 0.2);
$input-shadow: rgba(0, 0, 0, 0.2);
$font-family: 'Bebas Neue', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet');
//Margin:
$margin:auto;

//Boder-radius:
$border-radius:50%;

//Height:
$height:100vh;

//Width:
$width:100vw;