// Variables
$primary-color: #ff6f61;
$secondary-color: #e94e77;
$button-color: #ffffff;
$background-gradient-start: #ff9a8b;
$background-gradient-end: #ff6f61;
$text-color: #ffffff;
$box-shadow: rgba(0, 0, 0, 0.2);
$input-shadow: rgba(0, 0, 0, 0.2);
$font-family: 'Bebas Neue';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// Styles
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: $font-family;
    background: linear-gradient(to right, $background-gradient-start, $background-gradient-end);
}

h1 {
    font-family: $font-family;
    margin: 0;
    padding: 20px;
    color: $text-color;
    font-size: 3rem;
    text-align: center;
}

#calculator {
    background: $primary-color;
    border-radius: 50px;
    box-shadow: 0 10px 20px $box-shadow;
    padding: 20px;
    width: 320px;
    text-align: center;
    margin-top: 20px;
}

#display {
    width: 85%;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 2rem;
    padding: 10px;
    box-shadow: inset 0 2px 4px $input-shadow;
    background: $secondary-color;
    color: $button-color;
    text-align: right;
}
#calculator div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
button {
    background: $button-color;
    border: none;
    border-radius: 50%;
    padding: 20px;
    font-size: 1.1em;
    color: $primary-color;
    transition: background 0.3s ease, transform 0.1s ease;
    box-shadow: 0 5px 10px $box-shadow;
}

button:hover {
    background: $secondary-color;
    color: $button-color;
}

button:active {
    transform: scale(0.95);
}
