//Colors:
$primary-color: #ff6699;
$primary-hover: #e60073;
$primary-active: #cc0052;
$background-gradient-start: #ffcccc;
$background-gradient-end: #ff99cc;
$text-color: #d6336c;
$white: #fff;
$box-shadow: rgba(0, 0, 0, 0.1);
$input-shadow: rgba(0, 0, 0, 0.1);
$font-family: 'Bebas Neue';
//Fonts:


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet');
//Margin:
$margin:auto;

//Boder-radius:
$border-radius:50%;

//Height:
$height:100vh;

//Width:
$width:100vw;